.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  font-size: 9pt;
  width: calc(100% - 5em);
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .App {
    width: 480px;
    font-size: 10pt;
  }
}

@media screen and (min-width: 800px) {
  .App {
    width: 700px;
    font-size: 12pt;
  }
}
